# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python cache & virtual environment
__pycache__/
.venv/

# ESPHome & PlatformIO
/.esphome/
.pio/
.pioenvs/
.piolibdeps/
build/
secrets.yaml

# Compiled firmware files
*.bin
*.elf
*.map
*.hex

# Antigravity persistence
.gemini/

# OS-specific files
.DS_Store
Thumbs.db

# CodeQL temporary files
_codeql_detected_source_root
